.Active-Orders{
    .new-order{
        display: inline-block;
        width:23%;
        border:2px solid $light-yellow;
        border-radius:5px;
        margin:20px 1%;
    }
    h3{
        font-size:18px;
        line-height:1.5;
        text-align: left;
        margin-left:10px;
        font-weight:600;
    }
    ul{
        border-top:1px solid grey;
    }
    li{
        font-size:16px;
        line-height:1.5;
    }
}