.Admin-Nav{
    float: left;
    width:200px;
    height:100vh;
    background: $color-sand;
    border-right:2px solid darken($color-sand, 20%);
    a{
        border-bottom:1px solid $dark-sand;
        display: block;
        font-size:24px;
        text-align: center;
        padding:10px 0;
    }
    .active{
        background: $dark-sand;
        color: #fff;
    }
}