.Shop{

    h1{
        text-align: center;
        font-size:32px;
        font-weight:600;
        padding-top:20px;
        &:first-letter{
            text-transform: uppercase;
        }
    }
    .checkout{
        position: absolute;
        top:30px;
        right:30px;
        background: $dark-red;
        color: #fff;
        font-size:20px;
        text-align: center;
        border-radius:5px;
        padding:10px 20px;
        transition: .25s;
        span{
            display: block;
            margin-top:5px;
        }
    }
    .animate{
        transform: scale(1.1);
    }
    .menu-items{
        width:calc(100% - 180px);
        float: right;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .item{
            width:20%;
            margin:20px 2.5%;
            text-align: center;
            padding:10px 0;
            transition: .2s;
            border:3px solid transparent;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                border:3px solid $light-yellow;
            }
        }
        img{
            width:80%;
            margin: auto;
            display: block;
        }
        h3{
            font-size:22px;
            color: $light-yellow;
            text-transform: capitalize;
            margin:10px auto;
        }
        strong{
            font-size:20px;
        }
    }
}